<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<aside class="sidebar">
  <img src="/img/avatar2.jpg" alt="" class="avatar"/>
  <blockquote class="proverbs">
    <p>士虽有学，而行为本焉。</p>
    <footer><cite title="Source Title">墨子·修身</cite></footer>
  </blockquote>

  <nav>
    <a href="/">梦</a>
    <a href="/?cat=1">生活</a>
    <a href="/?cat=2">术业</a>
    <a href="/archive">归档</a>
    <a href="javascript:;">我</a>
  </nav>
  <section class="me">
    <a href="javascript:;">友链</a>
    <a href="javascript:;">留言</a>
  </section>
</aside>
<div class="main-wrapper">
  <div class="main">
    {{{ body }}}
  </div>
</div>
<aside class="right-nav">
  <section>
    <header>
      最多浏览
    </header>
    <ul>
      {{#each topViews}}
        <li>
          <a href="/article/{{_id}}">{{titlesplice title}}</a>
        </li>
      {{/each}}
    </ul>
  </section>

  <section>
    <header>
      最多评论
    </header>
    <ul>
      {{#each topComments}}
        <li>
          <a href="/article/{{_id}}">{{titlesplice title}}</a>
        </li>
      {{/each}}
    </ul>
  </section>

  <section>
    <header>
      标签
    </header>
    <div class="tags">
      {{#each tagList}}
        <a href="/tags/{{_id}}">{{name}}</a>
      {{/each}}
    </div>
  </section>
</aside>

</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/handlebars.runtime.min.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/moment.js"></script>

{{{block 'pagescripts'}}}

</html>