<article class="archives">
  {{#each articles}}
    <div class="item">
      <h3>{{date}}</h3>
      <ul class="archives-list">
        {{#each item}}
          <li>
            <time>{{getDay updated_at}}日</time>
            <a href="/article/{{_id}}">{{title}} </a>
            <span class="text-muted">评论({{comments}})</span>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</article>

