<article class="archives">
  {{#each articles}}
    <div class="item">
      <h3>{{date}}</h3>
      <ul class="archives-list">
        {{#each item}}
          <li>
            <time>{{getDay updated_at}}日</time>
            <a href="/article/{{_id}}">{{title}} </a>
            <span class="text-muted">评论({{comments}})</span>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
  <div class="item"><h3>2014-08</h3>
    <ul class="archives-list">
      <li>
        <time>29日</time>
        <a href="http://www.chinacoder.cn/411.html">IE开始支持部分webkit私有属性 </a>
        <span class="text-muted">评论(1)</span>
      </li>
    </ul>
  </div>
  <div class="item"><h3>2014-07</h3>
    <ul class="archives-list">
      <li>
        <time>05日</time>
        <a href="http://www.chinacoder.cn/402.html">web前端开发必备 — WEB前端开发规范文档 </a>
        <span class="text-muted">评论(4)</span>
      </li>
    </ul>
  </div>
  <div class="item"><h3>2014-06</h3>
    <ul class="archives-list">
      <li>
        <time>18日</time>
        <a href="http://www.chinacoder.cn/396.html">Chinacoder.cn—-如何才能高效地使用JQuery? </a>
        <span class="text-muted">评论(1)</span>
      </li>
    </ul>
  </div>
  <div class="item"><h3>2014-04</h3>
    <ul class="archives-list">
      <li>
        <time>04日</time>
        <a href="http://www.chinacoder.cn/387.html">Google谷歌眼镜十大讹传 </a>
        <span class="text-muted">评论(2)</span>
      </li>
    </ul>
  </div>
  <div class="item"><h3>2014-02</h3>
    <ul class="archives-list">
      <li>
        <time>22日</time>
        <a href="http://www.chinacoder.cn/382.html">chinacoder前端开发 — windows xp之殇，那些年我们一起玩过的XP！ </a>
        <span class="text-muted">评论(3)</span>
      </li>
      <li>
        <time>18日</time>
        <a href="http://www.chinacoder.cn/377.html">chinacoder前端开发–逆天，折煞小伙伴们的FLAPPY BIRD网页版！ </a>
        <span class="text-muted">评论(4)</span>
      </li>
    </ul>
  </div>
  <div class="item"><h3>2014-01</h3>
    <ul class="archives-list">
      <li>
        <time>14日</time>
        <a href="http://www.chinacoder.cn/373.html">chinacoder.cn前端开发—web前端工程师入门须知 </a>
        <span class="text-muted">评论(10)</span>
      </li>
      <li>
        <time>10日</time>
        <a href="http://www.chinacoder.cn/361.html">ajax页面局部刷新 </a>
        <span class="text-muted">评论(8)</span>
      </li>
      <li>
        <time>09日</time>
        <a href="http://www.chinacoder.cn/346.html">chinacoder.cn前端开发浅谈—移动web框架Zepto </a>
        <span class="text-muted">评论(0)</span>
      </li>
      <li>
        <time>02日</time>
        <a href="http://www.chinacoder.cn/337.html">究竟什么是WEB前端开发 </a>
        <span class="text-muted">评论(0)</span>
      </li>
    </ul>
  </div>
  <div class="item"><h3>2013-12</h3>
    <ul class="archives-list">
      <li>
        <time>27日</time>
        <a href="http://www.chinacoder.cn/333.html">盘点2013年互联网十大关键词 </a>
        <span class="text-muted">评论(0)</span>
      </li>
      <li>
        <time>24日</time>
        <a href="http://www.chinacoder.cn/329.html">chinacoder.cn分享下最实用、最常用的jQuery代码片段 </a>
        <span class="text-muted">评论(1)</span>
      </li>
      <li>
        <time>16日</time>
        <a href="http://www.chinacoder.cn/325.html">如何判断滚动条滚到页面底部并执行事件 </a>
        <span class="text-muted">评论(3)</span>
      </li>
      <li>
        <time>13日</time>
        <a href="http://www.chinacoder.cn/315.html">当时尚女郎和浏览器摩擦出火花–时尚女郎的浏览器代言 </a>
        <span class="text-muted">评论(6)</span>
      </li>
      <li>
        <time>12日</time>
        <a href="http://www.chinacoder.cn/308.html">使用jQuery 轻松操作select、checkbox 、radio、input的小技巧 </a>
        <span class="text-muted">评论(3)</span>
      </li>
      <li>
        <time>10日</time>
        <a href="http://www.chinacoder.cn/298.html">Chinacoder前端开发–移动web开发中常用的html5语义化标签 </a>
        <span class="text-muted">评论(2)</span>
      </li>
      <li>
        <time>06日</time>
        <a href="http://www.chinacoder.cn/296.html">Chinacoder前端开发–jQuery mobile在手机web前端开发中的运用 </a>
        <span class="text-muted">评论(10)</span>
      </li>
      <li>
        <time>04日</time>
        <a href="http://www.chinacoder.cn/290.html">前端开发-响应式布局之浮动圣杯布局（双飞翼布局）—-自适应宽度布局 </a>
        <span class="text-muted">评论(5)</span>
      </li>
      <li>
        <time>02日</time>
        <a href="http://www.chinacoder.cn/284.html">如何使用js屏蔽鼠标右键 </a>
        <span class="text-muted">评论(2)</span>
      </li>
    </ul>
  </div>
  <div class="item"><h3>2013-11</h3>
    <ul class="archives-list">
      <li>
        <time>28日</time>
        <a href="http://www.chinacoder.cn/280.html">百度究竟喜欢抓取收录什么样的网站 </a>
        <span class="text-muted">评论(14)</span>
      </li>
      <li>
        <time>26日</time>
        <a href="http://www.chinacoder.cn/274.html">遥远星球的孩子 </a>
        <span class="text-muted">评论(2)</span>
      </li>
      <li>
        <time>26日</time>
        <a href="http://www.chinacoder.cn/276.html">个人wordpress网站“建立数据库连接时出错”如何解决 </a>
        <span class="text-muted">评论(2)</span>
      </li>
      <li>
        <time>24日</time>
        <a href="http://www.chinacoder.cn/265.html">关于修改WordPress固定连接链接伪静态遇到的问题 </a>
        <span class="text-muted">评论(5)</span>
      </li>
      <li>
        <time>24日</time>
        <a href="http://www.chinacoder.cn/259.html">如何更好的表达“你的代码写得很稀烂”的十种方法 </a>
        <span class="text-muted">评论(2)</span>
      </li>
      <li>
        <time>22日</time>
        <a href="http://www.chinacoder.cn/254.html">jQuery实现随机多彩css样式–background、color、fontsize </a>
        <span class="text-muted">评论(1)</span>
      </li>
      <li>
        <time>20日</time>
        <a href="http://www.chinacoder.cn/252.html">你是笨蛋之今天早上今天中午今天晚上 </a>
        <span class="text-muted">评论(4)</span>
      </li>
      <li>
        <time>20日</time>
        <a href="http://www.chinacoder.cn/241.html">Js如何实现按下键盘上某键就执行函数或js事件（keyCode键码值） </a>
        <span class="text-muted">评论(4)</span>
      </li>
      <li>
        <time>18日</time>
        <a href="http://www.chinacoder.cn/200.html">ChinaCoder前端开发告诉你前端攻城师应该具备的CSS技巧 </a>
        <span class="text-muted">评论(1)</span>
      </li>
      <li>
        <time>16日</time>
        <a href="http://www.chinacoder.cn/194.html">关于wordpress D8主题 安装Crayon Syntax Highlighter插件后代码行号后错位问题 </a>
        <span class="text-muted">评论(3)</span>
      </li>
      <li>
        <time>16日</time>
        <a href="http://www.chinacoder.cn/168.html">ChinaCoder前端开发教你轻松开发JQuery插件 </a>
        <span class="text-muted">评论(0)</span>
      </li>
      <li>
        <time>14日</time>
        <a href="http://www.chinacoder.cn/126.html">ChinaCoder前端工程师推荐一款非常好用的代码着色工具highlight </a>
        <span class="text-muted">评论(2)</span>
      </li>
      <li>
        <time>12日</time>
        <a href="http://www.chinacoder.cn/99.html">浅谈web页面设计趋势—–扁平化设计 </a>
        <span class="text-muted">评论(3)</span>
      </li>
      <li>
        <time>12日</time>
        <a href="http://www.chinacoder.cn/93.html">ChinaCoder前端开发Adobe CS6 系列工具下载（软件官方正式版+破解补丁）： </a>
        <span class="text-muted">评论(4)</span>
      </li>
      <li>
        <time>10日</time>
        <a href="http://www.chinacoder.cn/79.html">Web前端工程师如何给自己定位？ </a>
        <span class="text-muted">评论(6)</span>
      </li>
      <li>
        <time>08日</time>
        <a href="http://www.chinacoder.cn/47.html">Web前端开发工程师成长之路 </a>
        <span class="text-muted">评论(8)</span>
      </li>
    </ul>
  </div>
</article>
