<article class="article">
  <h2 class="article-title">{{title}}</h2>

  <div class="info">
    <ul>
      <li>{{formatDate updated_at}}</li>
      {{#if tags}}
        <li>
          {{#each tags}}
            <a href="javascript:;">{{this}}</a>
            {{#unless @last}}
              |
            {{/unless}}
          {{/each}}
        </li>
      {{/if}}
      <li>阅读({{views}})</li>
      <li>评论({{comments}})</li>
    </ul>
  </div>

  <div class="article-cont">
    <input type="hidden" value="{{_id}}" id="articleID"/>
    {{{content}}}
  </div>

</article>

<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{_id}}" data-title="{{title}}"
     data-url="blog-5d206.codingapp.com/article/{{_id}}"></div>
<!-- 多说评论框 end -->

{{#contentFor 'pagescripts'}}
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">

    var duoshuoQuery = {short_name: "panblog"};
    (function () {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';
      ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0]
      || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    $('body').on('click', '.ds-post-button', function () {
      var $self = $(this);
      if ($('.ds-hidden-text').text()) {
        console.log($('#articleID').val())
      }
    });
    $('body').on('click', '.ds-post-delete', function () {
      var $self = $(this);
      console.log(1111)
    })
  </script>
  <!-- 多说公共JS代码 end -->
{{/contentFor}}

