<article class="article">
  <h2 class="article-title">{{title}}</h2>

  <div class="info">
    <ul>
      <li>{{formatDate updated_at}}</li>
      {{#if tags}}
        <li>
          {{#each tags}}
            <a href="javascript:;">{{this}}</a>
            {{#unless @last}}
              |
            {{/unless}}
          {{/each}}
        </li>
      {{/if}}
      <li>阅读({{views}})</li>
      <li>评论({{comments}})</li>
    </ul>
  </div>

  <div class="article-cont">
    {{{content}}}
  </div>

</article>

