{{#if articles.length}}
 {{#each articles}}
   <div class="articles">
     <div class="excerpt">
       <div class="content">
         <h2><a class="item-title text-deco-none" href="/article/{{_id}}">{{title}}</a></h2>

         <p class="summary">
           <a class="summary-link text-deco-none" href="/article/{{_id}}">
            {{content}} </a></p>

         <div class="info">
           <ul>
             <li>{{formatDate updated_at}}</li>
            {{#if tags}}
              <li>
               {{#each tags}}
                 <a href="/tags/{{this}}">{{this}}</a>
                {{#unless @last}}
                  |
                {{/unless}}
               {{/each}}
              </li>
            {{/if}}
             <li>阅读（{{views}}）</li>
             <li>评论（{{comments}}）</li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 {{/each}}
 <div id="lazydata">
 </div>
 {{#contentFor 'pagescripts'}}
   <script type="text/javascript">
     Handlebars.registerHelper('formatDate', function (item) {
       if (moment().isSame(item, 'day')) {
         return moment(item).format('HH:mm');
       }
       return moment(item).format('MM-DD HH:mm');
     });
     (function() {
       var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
       templates['index.hbs'] = template({"1":function(container,depth0,helpers,partials,data) {
         var stack1, helper, alias1=depth0 != null ? depth0 : {}, alias2=helpers.helperMissing, alias3="function", alias4=container.escapeExpression;

         return "   <div class=\"articles\">\n     <div class=\"excerpt\">\n       <div class=\"content\">\n         <h2><a class=\"item-title text-deco-none\" href=\"/article/"
           + alias4(((helper = (helper = helpers._id || (depth0 != null ? depth0._id : depth0)) != null ? helper : alias2),(typeof helper === alias3 ? helper.call(alias1,{"name":"_id","hash":{},"data":data}) : helper)))
           + "\">"
           + alias4(((helper = (helper = helpers.title || (depth0 != null ? depth0.title : depth0)) != null ? helper : alias2),(typeof helper === alias3 ? helper.call(alias1,{"name":"title","hash":{},"data":data}) : helper)))
           + "</a></h2>\n\n         <p class=\"summary\">\n           <a class=\"summary-link text-deco-none\" href=\"/article/"
           + alias4(((helper = (helper = helpers._id || (depth0 != null ? depth0._id : depth0)) != null ? helper : alias2),(typeof helper === alias3 ? helper.call(alias1,{"name":"_id","hash":{},"data":data}) : helper)))
           + "\">\n            "
           + alias4(((helper = (helper = helpers.content || (depth0 != null ? depth0.content : depth0)) != null ? helper : alias2),(typeof helper === alias3 ? helper.call(alias1,{"name":"content","hash":{},"data":data}) : helper)))
           + " </a></p>\n\n         <div class=\"info\">\n           <ul>\n             <li>"
           + alias4((helpers.formatDate || (depth0 && depth0.formatDate) || alias2).call(alias1,(depth0 != null ? depth0.updated_at : depth0),{"name":"formatDate","hash":{},"data":data}))
           + "</li>\n"
           + ((stack1 = helpers["if"].call(alias1,(depth0 != null ? depth0.tags : depth0),{"name":"if","hash":{},"fn":container.program(2, data, 0),"inverse":container.noop,"data":data})) != null ? stack1 : "")
           + "             <li>阅读（"
           + alias4(((helper = (helper = helpers.views || (depth0 != null ? depth0.views : depth0)) != null ? helper : alias2),(typeof helper === alias3 ? helper.call(alias1,{"name":"views","hash":{},"data":data}) : helper)))
           + "）</li>\n             <li>评论（"
           + alias4(((helper = (helper = helpers.comments || (depth0 != null ? depth0.comments : depth0)) != null ? helper : alias2),(typeof helper === alias3 ? helper.call(alias1,{"name":"comments","hash":{},"data":data}) : helper)))
           + "）</li>\n           </ul>\n         </div>\n       </div>\n     </div>\n   </div>\n";
       },"2":function(container,depth0,helpers,partials,data) {
         var stack1;

         return "              <li>\n"
           + ((stack1 = helpers.each.call(depth0 != null ? depth0 : {},(depth0 != null ? depth0.tags : depth0),{"name":"each","hash":{},"fn":container.program(3, data, 0),"inverse":container.noop,"data":data})) != null ? stack1 : "")
           + "              </li>\n";
       },"3":function(container,depth0,helpers,partials,data) {
         var stack1, alias1=container.lambda, alias2=container.escapeExpression;

         return "                 <a href=\"/tags/"
           + alias2(alias1(depth0, depth0))
           + "\">"
           + alias2(alias1(depth0, depth0))
           + "</a>\n"
           + ((stack1 = helpers.unless.call(depth0 != null ? depth0 : {},(data && data.last),{"name":"unless","hash":{},"fn":container.program(4, data, 0),"inverse":container.noop,"data":data})) != null ? stack1 : "");
       },"4":function(container,depth0,helpers,partials,data) {
         return "                  |\n";
       },"compiler":[7,">= 4.0.0"],"main":function(container,depth0,helpers,partials,data) {
         var stack1;

         return ((stack1 = helpers.each.call(depth0 != null ? depth0 : {},(depth0 != null ? depth0.articles : depth0),{"name":"each","hash":{},"fn":container.program(1, data, 0),"inverse":container.noop,"data":data})) != null ? stack1 : "");
       },"useData":true});
     })();
     $(function () {
       var template = Handlebars.templates['index.hbs'];
       var num = 2;
       var isEnd = false;
       var cat = location.search.substr(1).split('=')[1];
       var lp = location.pathname;
       var tag = lp.indexOf('tags') !== -1 ? lp.substr(lp.indexOf('tags')).split('/')[1] : '';
       var scrollTop = $(this).scrollTop();
       var scrollHeight = $(document).height();
       var windowHeight = $(this).height();
       var isBack = true;
       window.onscroll = function () {
         if (!isEnd && scrollTop + windowHeight >= scrollHeight) {
           if (isBack) {
             isBack = false;
             $.get('/page', {num: num, cat: cat, tag: tag}, function (data, status) {
               isBack = true;
               if (data.length === 0) {
                 isEnd = true;

                 $("#lazydata").append('<p style="text-align: center;margin-bottom: 55px">没有数据了</p>');
               } else {
                 $("#lazydata").append(template({articles: data}));
                 num++;
               }
             })
           }

         }
       }
     })
   </script>
 {{/contentFor}}

{{else}}
  <h1 class="text-center">暂无数据</h1>
{{/if}}

